<div class="container">
  <nav class="sidebar">
    <div class="sidebar_logo_container">
      <h1 style="margin-bottom: 0px;">LLL</h1>
      <small style="margin-top: 0px; padding-bottom: 10px;">Learn Luxembourgish Language</small>
    </div>
    <div class="sidebar_main_container">
      <ul>
        <li><a routerLink="/"><h3>Pronouns</h3></a></li>
        <li><a routerLink="/nouns"><h3>Nouns</h3></a></li>
        <li><a routerLink="/verbs"><h3>Verbs</h3></a></li>
        <li><a routerLink="/"><h3>Modals</h3></a></li>
        <li><a routerLink="/"><h3>Adjectives</h3></a></li>
      </ul>
      <footer class="footer"><small>© 2025 - CGU </small></footer>
    </div>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
